{% extends "pages/template.html" %}
{% block body %}

<h1>xch</h1>

<p>All trademarks and copyrights on this network are owned by their respective parties. Images and files uploaded are the responsibility of the user. Comments are owned by the user.</p>
<br/>
<p>By accessing any xch services, the user agrees to release xch, its owners, and staff of ALL liability for said user's communication, should it be illegal or abusive. You also agree that you are solely responsible for your actions, and that you will not hold xch, the domain name or any other related domain names, internet addresses, its owners, service providers, or staff responsible for any of your actions.</p>
<br/>
<p>You, and/or your representative organization, assume all liability by connection to xch, or any affiliated service or provided function. You also agree that this license applies to all services related or unrelated to xch that are hosted or provided by xch owners or staff members.</p>
<br/>
<p>You agree that you are 18 years of age, or older, or old enough to use these services and accept the terms of service. If you do not agree, stop using this service now.</p>
<br/>
<p>xch and its services, and related or unrelated services are provided without a guarantee of warranty of any kind. Use them at your own risk.</p>
<br/>
<p>All communication made in relation to xch, on xch, or through any other communication medium is subject to these terms. Communication medium is hereby defined, but not limited to, telephone, phone, VoIP, Discord, Matrix, Skype, Instant Messaging, AIM, eMail, mailing lists, listserv, IRC, snailmail, irl (in real life), and anything else not enumerated here by which communication between two or more entities is possible.</p>
<br/>
<p>xch and its associates reserve the right to prohibit any user from its services at any time for any reason, or no reason at all.</p>
<br/>
<center><p>#xch @ irc.rizon.net, irc.esper.net, chat.freenode.net, irc.libera.chat, irc.gamesurge.net</p></center>
<center><p>discord.gg/p8ssD4C9pQ (messages deleted every 24h or 128 messages)</p></center>
<br/>
<center><p>89forYvGk3AhDz8H58YuFU8C4xYwXfW3WXHSvkijcSnfXswangdJs5CLJuSZi7YdDNGp4vT9ts8Z8JGoP7AEKQwUSZHR93u</p>
<p>bc1qykkggg6l7uqtg0l5mffzzys8f3sc5dj095jr0h</p></center>
{% endblock %}