<!DOCTYPE html>
<html lang="en">
	<head>
	<title>{{ compose_title(page_title)|safe }}</title>

	<meta charset="utf-8" />
	<link rel="shortcut icon" href="{{ static_url('favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/index_4ch.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/base.css') }}">
	</head>

	<body>
		<div id="doc">
			<div id="hd">
				<div id="logo-fp">
					<a href="{{ config()['site']['url'] }}" title="Home"><img alt="{{ config()['site']['title']|safe }}"
							src="{{ static_url('image/fp/logo-transparent.png') }}" width="300" height="120"></a>
				</div>
			</div>
			<div id="bd">
            {% block body %}{% endblock %}
            <div id="ft">
                <ul>
                    <li class="fill" />
                    {% for url in config()['site']['footer_index_tabs'] %}
                        {{ url|safe }}
                    {% endfor %}
                </ul>
                <br class="clear-bug" />
                <div id="copyright">
                        {{config()['site']['footer_index_links']|safe}}
                        <br /><br /><br />
                        {{config()['site']['footer_index']|safe}}
                </div>
            </div>
        </div>
        <div id="modal-bg"></div>
</body>
</html>