<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ composed_title()|safe }} &bull; {{config()['site']['title']</title>

		<meta charset="utf-8" />
		<link rel="shortcut icon" href="favicon.ico" />
		<style>
			.title{

			}
			.container{
				text-align: center;
				display: block;
				width: 400px;
				margin: 0 auto;
			}
			#file{
				max-width: 250px;
			}
		</style>
	</head>

	<body>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
				{% for message in messages %}
				<li>{{ message|safe }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block body %}{% endblock %}
	</body>
</html>
