{% extends "pages/template.html" %}
{% block body %}
<div class="box-outer" id="announce">
	<div class="box-inner">
		<div class="boxbar">
			<h2></h2>
			<a data-cmd="x-wot" href="#" class="closebutton"></a>
		</div>
		<div class="boxcontent">
			<div id="wot-cnt">
				<div id="form">
                    <h1>Create your board</h1>
                    <div class="subtitle">before someone else does</div>
                    <p style="text-align:center">COUNT_NOTIMPLEMENTED boards have been abandoned by their owners and may be claimed. Please refer to the <a href="{{ config()['site']['url'] }}/claim">list of claimable boards</a>.</p>
                    <form action="{{ config()['site']['url'] }}_fn/create_board" method="get">
                        <table class="modlog" style="width:auto">
                            <tbody>
                                <tr>
                                    <th>URI</th>
                                    <td>/<input name="uri" type="text" size="5">/ <span class="unimportant">(must be all lowercase or
                                            numbers and &lt; 30 chars)</span></td>
                                </tr>
                                <tr>
                                    <th>Title</th>
                                    <td><input name="title" type="text"> <span class="unimportant">(must be &lt; 40 chars)</span></td>
                                </tr>
                                <tr>
                                    <th>Subtitle</th>
                                    <td><input name="subtitle" type="text"> <span class="unimportant">(must be &lt; 200 chars)</span></td>
                                </tr>
                                <tr>
                                    <th>Category</th>
                                    <td>
                                        <select name="category" id="category">
                                            {% for board in boards %}
                                            <option value="{{board[0]}}"{{board[1]}}>{{board[0]}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td><input name="username" type="text"> <span class="unimportant">(your name with a secure tripcode)</span></td>
                                </tr>
                                <tr>
                                    <th>Secret&nbsp;&nbsp;</th>
                                    <td><input name="shared_secret" type="text"> <span class="unimportant">(for board recovery - write this
                                            down)</span></td>
                                </tr>
                                {% if config()['hcaptcha']['enabled'] %}
                                <tr>
                                    <th>Verification</th>
                                    <td>
                                        <div class="site-captcha">
                                            {{ hcaptcha }}
                                            <noscript><span class="captcha-notice"><a href="https://www.hcaptcha.com/privacy" target="_blank">hCaptcha</a></span></noscript>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <ul style="padding:0;text-align:center;list-style:none">
                            <li><input type="submit" value="Create your board"></li>
                        </ul>
                    </form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}