{% extends "layout.html" %} {% block body %}
<div class="container">
    <h3>self-destructing images</h3>
    <form action="d" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input type="hidden" name="max_file_size" value="1048576" />
        <select name="timer">
            <option value="1">1 second</option>
            <option value="5" selected="selected">5 seconds</option>
            <option value="10">10 seconds</option>
            <option value="0">no timer</option>
        </select>
        <input type="hidden" name="uploader" value="upload">
        <input type="submit" value="Upload">
    </form>
    <br/>
    <span style="font-style: italic; font-size: 9pt;">all trademarks and copyrights of all images uploaded to this service are owned by their respective parties.</span>
</div>
{% endblock %}